.contact-panel {
  padding: 1.5rem;
}
@media (min-width: 56.25rem) {
  .contact-panel {
    padding: 2rem;
  }
}

.contact-panel__layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
@media (min-width: 37.5rem) {
  .contact-panel__layout {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.contact-panel__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-panel__title {
  font-weight: 700;
}

.contact-panel__button {
  flex-shrink: 0;
}
